.post_filter{
    text-align: center;
    margin-top: 30px;
}

.filter_button{
    padding: 5px 10px;
    background-color: #3399FF;
    border-radius: 5px;
    color: #fff;
}

.filter_button:hover{
    cursor: pointer;
    background-color: #3399FF;
}

.filter_button:active{
    background-color: #3399CC;
}

.filter_all{
    margin-right: 5px;
}

.filter_liked{
    margin-left: 5px;
}